spring:
  redis:
    host: 127.0.0.1
    port: 6379
    password: 123456
    jedis:
      pool:
        max-active: 8    #连接池最大连接数
        max-wait: -1     #连接池最大阻塞等待时间 （使用负值没有限制）
        max-idle: 8      #连接池最大空闲连接
        min-idle: 0      #连接池最小控空闲接
    timeout: 30000
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    data-username: root
    data-password: root
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      auto-commit: true
      connection-test-query: select 1
      connection-timeout: 30000
      idle-timeout: 30000
      max-lifetime: 1800000
      maximum-pool-size: 15
      minimum-idle: 0
      pool-name: DatebookHikariCP
  profiles:
    active: dev